/* 기본 설정 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}


/* Footer 전체 영역 */
.footer {
    width: 100%;
    height: 220px;
    margin-top: auto;
    background-color: #d9d8d8;
    color: #222;
}


/* Footer 상단 영역 */
.footer-inner {
    width: 1340px;
    height: 160px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* 왼쪽: 로고 + 고객센터 */
.footer-left {
    display: flex;
    align-items: center;
    gap: 30px;
}


/* 로고 */
.footer-logo {
    width: 160px;
    flex-shrink: 0;
}

.footer-logo img {
    width: 100%;
    height: auto;
    display: block;
}


/* 고객센터 */
.footer-contact {
    flex-shrink: 0;
    margin-top:10px;
}

.footer-contact p {
    margin: 0;
}

.footer-label {
    margin-bottom: 6px !important;
    font-size: 14px;
    font-weight: 700;
    color: #222;
}

.footer-phone {
    margin-bottom: 8px !important;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #222;
}

.footer-time {
    font-size: 11px;
    line-height: 1.5;
    color: #444;
}


/* 오른쪽 메뉴 전체 */
.footer-menu{
    display:flex;
    align-items:flex-start;
    gap:55px;
}


/* SUPPORT / POLICY 그룹 */
.footer-menu-group{
    width:150px;
    min-height:120px;
}

.footer-menu-group ul {
    margin: 0;
    padding: 0;
}

.footer-menu-group h3 {
    margin: 0 0 20px;
    font-size: 16px;
    font-weight: 600;
    color: #222;
}

.footer-menu-group li {
    margin-bottom: 16px;
    font-size: 13px;
    font-weight: 500;
}

.footer-menu-group li:last-child {
    margin-bottom: 0;
}

.footer-menu-group a {
    font-size: 13px;
    color: #222;
}

.footer-menu-group a:hover {
    text-decoration: underline;
}


/* SUPPORT와 POLICY 사이 구분선 */
.divider-line {
    width: 1px;
    height: 100px;
    background-color: #c8c8c8;
}


/* Footer 하단 회사 정보 */
.footer-bottom {
    width: 1340px;
    height: 60px;
    margin: 0 auto;
    padding-top: 9px;
    border-top: 1px solid #bdbdbd;
}


/* 사업자 정보 */
.footer-company-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 1.5;
    color: #666;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.footer-company-info strong {
    font-weight: 700;
    color: #333;
}

.footer-company-info a {
    color: #666;
    text-decoration: none;
}

.footer-company-info a:hover {
    text-decoration: underline;
}


/* 저작권 */
.footer-copy {
    margin-top: 8px;
    font-size: 10px;
    line-height: 1.4;
    color: #888;
}


/* 화면 폭이 1340px보다 작을 때 */
@media (max-width: 1380px) {
    .footer-inner,
    .footer-bottom {
        width: calc(100% - 40px);
    }
}