<footer class="footer">
    <div class="footer-inner">

        <!-- 왼쪽 영역 -->
        <div class="footer-left">

            <div class="footer-logo">
                <img src="{{ url_for('static', filename='images/logo_footer_3d.png') }}" alt="로고">
            </div>

            <div class="footer-contact">
                <p class="footer-label">고객센터</p>
                <p class="footer-phone">01-123-4567</p>
                <p class="footer-time">
                    평일 00:00~00:00<br>
                    주말 공휴일 휴무
                </p>
            </div>

        </div>


        <!-- 오른쪽 메뉴 영역 -->
        <div class="footer-menu">
            <div class="footer-menu-group">
                <ul>
                    <li>
                        <h3>SUPPORT</h3>
                    </li>
                </ul>

                <ul>
                    <li>
                        <a href="{{ url_for('notice._list') }}">공지사항</a>
                    </li>
                    <li>
                        <a href="{{ url_for('faq._list') }}">자주 묻는 질문</a>
                    </li>
                    <li>
                        <a href="{{ url_for('main.inquiry') }}">1:1 문의</a>
                    </li>
                </ul>
            </div>

            <div class="divider-line"></div>

            <div class="footer-menu-group">
                <ul>
                    <li>
                        <h3>POLICY</h3>
                    </li>
                </ul>

                <ul>
                    <li>
                        <a href="{{ url_for('main.terms') }}" target="_blank" rel="noopener noreferrer">이용약관</a>
                    </li>

                    <li>
                        <a href="{{ url_for('main.privacy') }}" target="_blank" rel="noopener noreferrer">개인정보처리방침</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">

        <div class="footer-company-info">
            상호 <strong>NoName TimeTicket</strong> · 대표 이준수 │
            서울특별시 종로구 종로2가 │
            사업자등록번호 012-34-56789 │
            통신판매업신고 제2026-서울종로구-1004호 │
            개인정보보호책임자 이준수 │
            전화 1588-0000 │
            E-mail
            <a href="mailto:nntt.official.cs@gmail.com">
                nntt.official.cs@gmail.com
            </a>
        </div>

        <div class="footer-copy">
            © 2026 NoName TimeTicket. All Rights Reserved.
        </div>

    </div>
</footer>