{% extends 'base.html' %}

{% block title %}메인 - NNTT 통합 예매{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
<link rel="stylesheet" href="/static/css/index.css">

<!-- 스와이퍼 -->
<div class="main-banner-container">
    <div class="swiper_banner_main">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><a href="#">배너 1</a></div>
            <div class="swiper-slide"><a href="#">배너 2</a></div>
            <div class="swiper-slide"><a href="#">배너 3</a></div>
        </div>

        <!-- 스와이퍼 넘기기 버튼 -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- 스와이퍼 우하단 버튼 -->
        <div class="banner-controls">
            <div class="swiper-pagination"></div>
            <button type="button" id="btn-swiper-toggle" class="btn-toggle">⏸</button>
        </div>
    </div>
</div>

<!-- 아이콘 네비게이션 -->
<ul class="category-nav">
    <li class="category-item">
        <a href="{{ url_for('main.all_performances') }}" class="category-link">
            <div class="category-img">
                <img src="../static/images/all.png" alt="전체">
            </div>
            <span class="category-name">전체</span>
        </a>
    </li>

    <li class="category-item">
        <a href="{{ url_for('main.musical_list') }}" class="category-link">
            <div class="category-img">
                <img src="../static/images/musical.png" alt="뮤지컬">
            </div>
            <span class="category-name">뮤지컬</span>
        </a>
    </li>

    <li class="category-item">
        <a href="{{ url_for('main.concert_list') }}" class="category-link">
            <div class="category-img">
                <img src="../static/images/concert.png" alt="콘서트">
            </div>
            <span class="category-name">콘서트</span>
        </a>
    </li>

    <li class="category-item">
        <a href="{{ url_for('main.play_list') }}" class="category-link">
            <div class="category-img">
                <img src="../static/images/theater.png" alt="연극">
            </div>
            <span class="category-name">연극</span>
        </a>
    </li>

    <li class="category-item">
        <a href="{{ url_for('main.kids_list') }}" class="category-link">
            <div class="category-img">
                <img src="../static/images/kids_n.png" alt="아동/가족">
            </div>
            <span class="category-name">아동/가족</span>
        </a>
    </li>

    <li class="category-item">
        <a href="{{ url_for('main.classic_list') }}" class="category-link">
            <div class="category-img">
                <img src="../static/images/classic.png" alt="클래식">
            </div>
            <span class="category-name">클래식</span>
        </a>
    </li>

    <li class="category-item">
        <a href="{{ url_for('main.exhib_list') }}" class="category-link">
            <div class="category-img">
                <img src="../static/images/exhib.png" alt="전시">
            </div>
            <span class="category-name">전시</span>
        </a>
    </li>
</ul>

<div class="category-upcoming">
    <h2 class="upcoming-name">오픈예정</h2>
    <a href="#" class="all-upcoming">전체보기</a>

    <div class="upcoming">
        
        <div class="upcoming-item">
            <a href="#" class="upcoming-list">배너 1</a>
            <div class="upcoming-info">
                <span class="upcoming-date">날짜</span>
                <span class="upcoming-title">제목</span>
            </div>
        </div>
        <div class="upcoming-item">
            <a href="#" class="upcoming-list">배너 2</a>
            <div class="upcoming-info">
                <span class="upcoming-date">날짜</span>
                <span class="upcoming-title">제목</span>
            </div>
        </div>
        <div class="upcoming-item">
            <a href="#" class="upcoming-list">배너 3</a>
            <div class="upcoming-info">
                <span class="upcoming-date">날짜</span>
                <span class="upcoming-title">제목</span>
            </div>
        </div>
        <div class="upcoming-item">
            <a href="#" class="upcoming-list">배너 4</a>
            <div class="upcoming-info">
                <span class="upcoming-date">날짜</span>
                <span class="upcoming-title">제목</span>
            </div>
        </div>
        <div class="upcoming-item">
            <a href="#" class="upcoming-list">배너 5</a>
            <div class="upcoming-info">
                <span class="upcoming-date">날짜</span>
                <span class="upcoming-title">제목</span>
            </div>
        </div>
    </div>

    <div class="mini-banner">
        <a href="#" class="mini-list">배너1</a>
        <a href="#" class="mini-list">배너2</a>
        <a href="#" class="mini-list">배너3</a>
        <a href="#" class="mini-list">배너4</a>
        <a href="#" class="mini-list">배너5</a>
        <a href="#" class="mini-list">배너6</a>
    </div>
</div>

<div class="category-rank">
    <h2 class="rank-name">장르별 랭킹</h2>
    <a href="#" class="all-rank">전체보기</a>

    <ul class="rank-tabs">
        <li class="tab-item active" data-genre="all">전체</li>
        <li class="tab-item" data-genre="musical">뮤지컬</li>
        <li class="tab-item" data-genre="concert">콘서트</li>
        <li class="tab-item" data-genre="theater">연극</li>
        <li class="tab-item" data-genre="kids_n">아동/가족</li>
    </ul>

    <div class="rank">
        <div class="rank-item" data-genre="all">
            <a href="#" class="rank-list">배너 1</a>
            <div class="rank-info">
                <span class="rank-date">날짜</span>
                <span class="rank-title">장르 제목</span>
            </div>
        </div>
        <div class="rank-item" data-genre="musical">
            <a href="#" class="rank-list">배너 2</a>
            <div class="rank-info">
                <span class="rank-date">날짜</span>
                <span class="rank-title">장르 제목</span>
            </div>
        </div>
        <div class="rank-item" data-genre="concert">
            <a href="#" class="rank-list">배너 3</a>
            <div class="rank-info">
                <span class="rank-date">날짜</span>
                <span class="rank-title">장르 제목</span>
            </div>
        </div>
        <div class="rank-item" data-genre="theater">
            <a href="#" class="rank-list">배너 4</a>
            <div class="rank-info">
                <span class="rank-date">날짜</span>
                <span class="rank-title">장르 제목</span>
            </div>
        </div>
        <div class="rank-item" data-genre="kids_n">
            <a href="#" class="rank-list">배너 5</a>
            <div class="rank-info">
                <span class="rank-date">날짜</span>
                <span class="rank-title">장르 제목</span>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="/static/js/index.js"></script>
{% endblock %}